upstream {{ servername }} {
  {% for upstream in upstreams %}
  server {{ ansible_facts.default_ipv4.address }}:{{ upstreams[upstream]  }};
  {% endfor %}
}

server {
    listen       {{ nginx_port }};
    server_name {{ servername }}.{{ domain }};

    charset UTF-8;

    location / {
        root   {{ index_path }};
        index  index.html index.htm;
        try_files $uri /index.html;
        proxy_pass http://{{ servername }};
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}